.resultsSheet {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    background-color: rgb(244, 250, 250);
    margin-bottom: 60px;
}
.button {
    width: 50%;
    border-color: #227174;
    border-width: 2px;
    border-radius: 2px;
    background-color: #eef5f5;
    color: black;
    font-size: large;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px
}
.button:hover {
    background-color: #227174;
    border-color: #eef5f5;
}
.button2 {
    width: 30%;
    border-color: #227174;
    border-width: 2px;
    border-radius: 2px;
    background-color: #eef5f5;
    color: black;
    font-size: large;
    margin: auto;
    margin-top: 10px;
}
.button2:hover {
    background-color: #227174;
    border-color: #eef5f5;
}

